
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Targeting strategies | International Knockout Mouse Consortium (IKMC)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="/misc/favicon.ico" type="image/x-icon" />
    <link type="text/css" rel="stylesheet" media="all" href="/sites/default/files/css/css_81b0f44fca24e723d49836eaa6cd58ff.css" />
<link type="text/css" rel="stylesheet" media="print" href="/sites/default/files/css/css_e69dd856dfae2a651ffc5c252c6bd0ff.css" />
    <script type="text/javascript" src="/sites/default/files/js/js_ea242cb25786147b418353190287ca7a.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, { "basePath": "http://www.knockoutmouse.org", "dhtmlMenu": { "clone": "clone", "slide": 0, "siblings": 0, "relativity": 0, "children": 0, "doubleclick": 0 } });
//--><!]]>
</script>
    <!--[if lte IE 7]><link type="text/css" rel="stylesheet" media="all" href="/sites/all/themes/ikmc/fix-ie.css" /><![endif]--><!--If Less Than or Equal (lte) to IE 7-->

<script>
function jscss(a,o,c1){switch(a){case'add':if(!jscss('check',o,c1)){o.className+=o.className?' '+c1:c1;}break;case'remove':var rep=o.className.match(' '+c1)?' '+c1:c1;o.className=o.className.replace(rep,'');break;case'check':return new RegExp('\\b'+c1+'\\b').test(o.className);break;}}function actsearch(){var stab=document.getElementById('stab');var sbody=document.getElementById('sbody');var btab=document.getElementById('btab');var bbody=document.getElementById('bbody');if(!jscss('check',stab,'active-tab')){jscss('remove',btab,'active-tab');jscss('add',stab,'active-tab');jscss('remove',sbody,'hide');jscss('add',bbody,'hide');}return false;}function actbrowse(){var stab=document.getElementById('stab');var sbody=document.getElementById('sbody');var btab=document.getElementById('btab');var bbody=document.getElementById('bbody');if(!jscss('check',btab,'active-tab')){jscss('remove',stab,'active-tab');jscss('add',btab,'active-tab');jscss('remove',bbody,'hide');jscss('add',sbody,'hide');}return false;}

function _ikmctoggle(obj, elName, showtext, hidetext) { if (showtext == null){ showtext = 'show'; } else { showtext = "<img src='/static/images/plus.png' alt='Plus sign'> " + showtext; } if (hidetext == null){ hidetext = 'hide'; } else { hidetext = "<img src='/static/images/minus.png' alt='Minus sign'> " + hidetext;  } var el = document.getElementById(elName); if (el.style.display == 'block'){ el.style.display='none'; obj.innerHTML = showtext; }else{ el.style.display='block'; obj.innerHTML = hidetext; } return false; }
</script>

<meta name="google-site-verification" content="XZZraOH6fjBquF37qY_fDUXLbmU8SBxQtgfmnoXUZMQ" />

</head>

<body class="sidebar-left">

<!-- Layout -->
  <div id="wrapper">
    <div id="header">
      <a href="http://www.knockoutmouse.org" title="International Knockout Mouse Consortium">
        <img src="/sites/all/themes/ikmc/logo.png" alt="International Knockout Mouse Consortium" id="logo" />
      </a>
      <h1 style="margin-top:47px;"><a href="http://www.knockoutmouse.org" title="International Knockout Mouse Consortium"><span id="sitename">International Knockout Mouse Consortium</span></a></h1>
      <div class="clear"></div>
    </div> <!-- /#header -->

    <div id="container">
      <div id="sidebar-left" class="sidebar">
        <div id="block-menu-menu-aboutmenu" class="block block-menu">
          <h3>About...</h3>
          <div class="content">
            <ul class="menu"><li class="expanded first dhtml-menu  odd"><a href="/aboutikmc" title="About the IKMC" id="dhtml_menu-287">IKMC</a><ul class="menu"><li class="leaf first dhtml-menu  odd"><a href="/about/targeting-strategies" title="Targeting strategies" id="dhtml_menu-340">Targeting strategies</a></li>
              <li class="leaf last dhtml-menu  even"><a href="/about/view-all-ikmc-allele-types" title="" id="dhtml_menu-339">IKMC alleles</a></li>
              </ul></li>
              <li class="leaf  dhtml-menu  even"><a href="/about/IKMC" title="" id="dhtml_menu-277">IMPC</a></li>
              <li class="expanded  dhtml-menu  even"><a href="/aboutkomp" title="About KOMP" id="dhtml_menu-231">KOMP</a><ul class="menu"><li class="leaf first dhtml-menu  odd"><a href="/aboutkompdcc" title="About KOMP DCC" id="dhtml_menu-232">KOMP DCC</a></li>
              <li class="leaf  dhtml-menu  even"><a href="http://komp.org/index.php?link=5" title="" id="dhtml_menu-233">KOMP Repository</a></li>
              <li class="leaf last dhtml-menu  odd"><a href="/aboutkompstrategies" title="KOMP Targeting Strategies" id="dhtml_menu-234">KOMP Targeting Strategies</a></li>
              </ul></li>
              <li class="expanded  dhtml-menu  odd"><a href="/about/eucomm" title="" id="dhtml_menu-372">EUCOMM</a><ul class="menu"><li class="leaf first dhtml-menu  odd"><a href="/about/eucomm/allele-types" title="EUCOMM Targeting Strategies" id="dhtml_menu-375">EUCOMM Targeting Strategies</a></li>
              <li class="leaf last dhtml-menu  even"><a href="/about/eucomm/recommendations-users-eucomm-alleles" title="Recommendations for Users of EUCOMM Alleles" id="dhtml_menu-376">Recommendations for Users</a></li>
              </ul></li>
              <li class="expanded  dhtml-menu  odd"><a href="/about/eucommtools" title="EUCOMMTOOLS" id="dhtml_menu-378">EUCOMMTOOLS</a><ul class="menu"><li class="leaf first dhtml-menu  even"><a href="/about/eucommtools/vectors" title="EUCOMMTOOLs Targeting Strategies" id="dhtml_menu-380">EUCOMMTOOLs Targeting Strategies</a></li>
              <li class="leaf  dhtml-menu  odd"><a href="/about/eucommtools/recommendations" title="Recommendations to Users of EUCOMMTOOLS Alleles" id="dhtml_menu-384">Recommendations to Users</a></li>
              </ul></li>
              <li class="leaf  dhtml-menu  even"><a href="http://www.norcomm.org" title="" id="dhtml_menu-268">NorCOMM</a></li>
              <li class="leaf last dhtml-menu  odd"><a href="http://www.tigm.org/" title="" id="dhtml_menu-269">TIGM</a></li>
            </ul>
          </div>
        </div>
      </div> <!-- /#sidebar-left -->

      <div id="center">
        <h2>Targeting strategies</h2>
        <div id="node-32" class="node">
          <div class="content">
            <p>The groups funded by KOMP to produce knockout alleles use targeting constructs that have different and complementary properties. Below is a general outline of these constructs that may be helpful in your assessment of the preferred approach for targeting your gene(s) of interest.</p>
            <h3>Constructs used by KOMP-Regeneron</h3>
            <p>The VelociGene group at Regeneron, Inc. will use the following general construct for creating knockouts for KOMP. In most cases these will be complete null alleles that delete the entire protein coding sequence of the target gene. This allele design can be applied to any gene transcribed by RNA polymerase II regardless of its size, intron-exon structure, RNA splicing pattern, or protein-coding capacity.</p>
            <p><img src="/sites/default/files/image001_0.jpg" /></p>
            <p><b>Reference:</b> Valenzuela, D. M., Murphy, A. J., Frendewey, D., Gale, N. W., Economides, A. N., Auerbach, W., Poueymirou, W. T., Adams, N. C., Rojas, J., Yasenchak, J., et al. (2003). High-throughput engineering of the mouse genome coupled with high-resolution expression analysis. Nat Biotechnol 21, 652-659.</p>
            <h3>Constructs used by the CSD (CHORI/Sanger/UC Davis) team</h3>
            <p><b>CSD:</b> CHORI (Children's Hospital Oakland Research Institute), the Wellcome Trust Sanger Institute, and the University of California at Davis use promoterless and promoter-driven targeting cassettes for the generation of a 'Knockout-first allele' (Skarnes et al., 2011) in C57BL/6N embryonic stem cells (Pettitt et al., 2009). This strategy relies on the identification of a 'critical' exon common to all transcript variants that, when deleted, creates a frame-shift mutation. The KO-first allele is flexible and can produce reporter knockouts, conditional knockouts, and null alleles following exposure to site-specific recombinases Cre and Flp.  Knockout-first alleles can also be readily modified in cells using dual recombination-mediated cassette exchange (Osterwalder et al., 2010).</p>
            <p><img src="/sites/default/files/image002_0.png" /><br />
            <img src="/sites/default/files/image003_0.png" /></p>
            <p>"Targeted, non-conditional " alleles (tm1e) are missing the downstream loxP site. The 3’ loxP site is often lost due recombination events in the homology region between the targeting cassette and 3’ loxP site. Approximately one half of the clones retain the loxP site, however, in extreme cases, the loxP site is absent in all clones. These lacZ-tagged alleles report endogenous gene expression and are highly likely to be null mutations. However, these mutations cannot be converted to conditional alleles with Flp recombinase.</p>
            <p><img src="/sites/default/files/image004_0.png" /></p>
            <p>CSD also generates standard deletion alleles with the promoter-driven targeting cassette</p>
            <p><img src="/sites/default/files/image005_0.png" /></p>
            <p><b>Derivative alleles:</b><br />
            tm1a: KO first allele (reporter-tagged insertion allele)<br />
            tm1b: Reporter-tagged deletion allele (post-Cre)<br />
            tm1c: Conditional allele (post-Flp)<br />
            tm1d: Deletion allele (post-Flp and Cre with no reporter)<br />
            tm1e: targeted, non-conditional allele<br />
            tm1: Reporter-tagged deletion allele (with selection cassette)<br />
            tm1.1:  Reporter-tagged deletion allele (post Cre, with no selection cassette)<br />
            tm1.2: Reporter-tagged deletion allele (post Flp, with no reporter and selection cassette)</p>
            <p><b>References:</b><br />
            Skarnes WC, Rosen B, West AP, Koutsourakis M, Bushell W, Iyer V, Mujica AO, Thomas M, Harrow J, Cox T, Jackson D, Severin J, Biggs P, Fu J, Nefedov M, de Jong PJ, Stewart AF, Bradley A. (2011).  A conditional knockout resource for the genome-wide study of mouse gene function.  Nature. 474, 337-342.</p>
            <p>Osterwalder M, Galli A, Rosen B, Skarnes WC, Zeller R, Lopez-Rios J. (2010).  Dual RMCE for efficient re-engineering of mouse mutant alleles.  Nat Methods. 7, 893-895.</p>
            <p>Pettitt SJ, Liang Q, Rairdan XY, Moran JL, Prosser HM, Beier DR, Lloyd KC, Bradley A, Skarnes WC. (2009). Agouti C57BL/6N embryonic stem cells for mouse genetic resources.  Nat Methods. 6, 493-495.</p>
          </div>
        </div>
      </div> <!-- /#center -->

      <div id="footer" class="clear">
        <a href="/disclaimer">Warranty Disclaimer and Copyright Notice</a><br />
        This site is maintained by the <a href="/about">I-DCC and the KOMP-DCC</a>.<br />Supported by the European Union (Project number: 223592) <br />and the National Institutes of Health (Grant number: NIH HG004074).
      </div> <!-- /#footer -->
    </div> <!-- /#container -->
    <span class="clear"></span>
  </div> <!-- /#wrapper -->
<!-- /layout -->

<script type="text/javascript">
    //
    if (navigator.userAgent.indexOf("Safari") > 0)
    {
        // Fix safari "label click/toggle checkbox" issue
        var labels = document.getElementsByTagName("label");
        for (i = 0; i < labels.length; i++)
        {
            labels[i].addEventListener("click", addLabelFocus, false);
        }

        // Fix Safari "back button re-execute onload" issue
        var jj=onload;
        if(jj){
            if(onunload==null){
                document.body.setAttribute('onunload',jj);
            }
        }
        $('search-link').style.marginRight="10px";
    }
    //
    </script>
<script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
            </script>
            <script type="text/javascript">
            var pageTracker = _gat._getTracker("UA-6140792-1");
            pageTracker._trackPageview();
            </script>


  </body>
</html>
