
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>About KOMP | International Knockout Mouse Consortium (IKMC)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="/misc/favicon.ico" type="image/x-icon" />
    <link type="text/css" rel="stylesheet" media="all" href="/sites/default/files/css/css_81b0f44fca24e723d49836eaa6cd58ff.css" />
<link type="text/css" rel="stylesheet" media="print" href="/sites/default/files/css/css_e69dd856dfae2a651ffc5c252c6bd0ff.css" />
    <script type="text/javascript" src="/sites/default/files/js/js_ea242cb25786147b418353190287ca7a.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, { "basePath": "http://www.knockoutmouse.org", "dhtmlMenu": { "clone": "clone", "slide": 0, "siblings": 0, "relativity": 0, "children": 0, "doubleclick": 0 } });
//--><!]]>
</script>
    <!--[if lte IE 7]><link type="text/css" rel="stylesheet" media="all" href="/sites/all/themes/ikmc/fix-ie.css" /><![endif]--><!--If Less Than or Equal (lte) to IE 7-->

<script>
function jscss(a,o,c1){switch(a){case'add':if(!jscss('check',o,c1)){o.className+=o.className?' '+c1:c1;}break;case'remove':var rep=o.className.match(' '+c1)?' '+c1:c1;o.className=o.className.replace(rep,'');break;case'check':return new RegExp('\\b'+c1+'\\b').test(o.className);break;}}function actsearch(){var stab=document.getElementById('stab');var sbody=document.getElementById('sbody');var btab=document.getElementById('btab');var bbody=document.getElementById('bbody');if(!jscss('check',stab,'active-tab')){jscss('remove',btab,'active-tab');jscss('add',stab,'active-tab');jscss('remove',sbody,'hide');jscss('add',bbody,'hide');}return false;}function actbrowse(){var stab=document.getElementById('stab');var sbody=document.getElementById('sbody');var btab=document.getElementById('btab');var bbody=document.getElementById('bbody');if(!jscss('check',btab,'active-tab')){jscss('remove',stab,'active-tab');jscss('add',btab,'active-tab');jscss('remove',bbody,'hide');jscss('add',sbody,'hide');}return false;}

function _ikmctoggle(obj, elName, showtext, hidetext) { if (showtext == null){ showtext = 'show'; } else { showtext = "<img src='/static/images/plus.png' alt='Plus sign'> " + showtext; } if (hidetext == null){ hidetext = 'hide'; } else { hidetext = "<img src='/static/images/minus.png' alt='Minus sign'> " + hidetext;  } var el = document.getElementById(elName); if (el.style.display == 'block'){ el.style.display='none'; obj.innerHTML = showtext; }else{ el.style.display='block'; obj.innerHTML = hidetext; } return false; }
</script>

<meta name="google-site-verification" content="XZZraOH6fjBquF37qY_fDUXLbmU8SBxQtgfmnoXUZMQ" />

</head>

<body class="sidebar-left">

<!-- Layout -->
  <div id="wrapper">
    <div id="header">
      <a href="http://www.knockoutmouse.org" title="International Knockout Mouse Consortium">
        <img src="/sites/all/themes/ikmc/logo.png" alt="International Knockout Mouse Consortium" id="logo" />
      </a>
      <h1 style="margin-top:47px;"><a href="http://www.knockoutmouse.org" title="International Knockout Mouse Consortium"><span id="sitename">International Knockout Mouse Consortium</span></a></h1>
      <div class="clear"></div>
    </div> <!-- /#header -->

    <div id="container">
      <div id="sidebar-left" class="sidebar">
        <div id="block-menu-menu-aboutmenu" class="block block-menu">
          <h3>About...</h3>
          <div class="content">
            <ul class="menu"><li class="expanded first dhtml-menu  odd"><a href="/aboutikmc" title="About the IKMC" id="dhtml_menu-287">IKMC</a><ul class="menu"><li class="leaf first dhtml-menu  odd"><a href="/about/targeting-strategies" title="Targeting strategies" id="dhtml_menu-340">Targeting strategies</a></li>
              <li class="leaf last dhtml-menu  even"><a href="/about/view-all-ikmc-allele-types" title="" id="dhtml_menu-339">IKMC alleles</a></li>
              </ul></li>
              <li class="leaf  dhtml-menu  even"><a href="/about/IKMC" title="" id="dhtml_menu-277">IMPC</a></li>
              <li class="expanded  dhtml-menu  even"><a href="/aboutkomp" title="About KOMP" id="dhtml_menu-231">KOMP</a><ul class="menu"><li class="leaf first dhtml-menu  odd"><a href="/aboutkompdcc" title="About KOMP DCC" id="dhtml_menu-232">KOMP DCC</a></li>
              <li class="leaf  dhtml-menu  even"><a href="http://komp.org/index.php?link=5" title="" id="dhtml_menu-233">KOMP Repository</a></li>
              <li class="leaf last dhtml-menu  odd"><a href="/aboutkompstrategies" title="KOMP Targeting Strategies" id="dhtml_menu-234">KOMP Targeting Strategies</a></li>
              </ul></li>
              <li class="expanded  dhtml-menu  odd"><a href="/about/eucomm" title="" id="dhtml_menu-372">EUCOMM</a><ul class="menu"><li class="leaf first dhtml-menu  odd"><a href="/about/eucomm/allele-types" title="EUCOMM Targeting Strategies" id="dhtml_menu-375">EUCOMM Targeting Strategies</a></li>
              <li class="leaf last dhtml-menu  even"><a href="/about/eucomm/recommendations-users-eucomm-alleles" title="Recommendations for Users of EUCOMM Alleles" id="dhtml_menu-376">Recommendations for Users</a></li>
              </ul></li>
              <li class="expanded  dhtml-menu  odd"><a href="/about/eucommtools" title="EUCOMMTOOLS" id="dhtml_menu-378">EUCOMMTOOLS</a><ul class="menu"><li class="leaf first dhtml-menu  even"><a href="/about/eucommtools/vectors" title="EUCOMMTOOLs Targeting Strategies" id="dhtml_menu-380">EUCOMMTOOLs Targeting Strategies</a></li>
              <li class="leaf  dhtml-menu  odd"><a href="/about/eucommtools/recommendations" title="Recommendations to Users of EUCOMMTOOLS Alleles" id="dhtml_menu-384">Recommendations to Users</a></li>
              </ul></li>
              <li class="leaf  dhtml-menu  even"><a href="http://www.norcomm.org" title="" id="dhtml_menu-268">NorCOMM</a></li>
              <li class="leaf last dhtml-menu  odd"><a href="http://www.tigm.org/" title="" id="dhtml_menu-269">TIGM</a></li>
            </ul>
          </div>
        </div>
      </div> <!-- /#sidebar-left -->

        <div id="center">
          <h2>About KOMP</h2>
          <div id="node-3" class="node">
            <div class="content">
              <ul>
              <li ><a href="/brief-overview">Brief Overview</a></li>
              <li ><a href="/komp-network">The KOMP Research Network</a></li>
              <li ><a href="/komp-roles">Roles and data flow within the KOMP production pipeline</a></li>
              </ul>
              <p><a name="brief-overview"><br />
              <h3>Brief Overview</h3>
              <p></p></a></p>
              <p>KOMP is a trans-NIH initiative to generate, together with the other members  of the <a href="/about">International Knockout Mouse Consortium (IKMC)</a>, a public resource of mouse embryonic stem (ES) cells containing a null mutation in every gene in the mouse genome. By using <a href="/about/komp-strategies">two complementary targeting strategies</a>, KOMP produces both conditional and null mutants.</p>
              <p>For more details see the <a href="http://www.nih.gov/science/models/mouse/knockout/">NIH KOMP Home Page</a></p>
              <p>Recent Publications:</p>
              <ul>
              <li><a href="http://www.cell.com/content/article/fulltext?uid=PIIS0092867406016126">Commentary in Cell:  A Mouse for All Reasons</a></li>
              <li><a href="http://www.sciencedirect.com/science?_ob=ArticleURL&amp;_udi=B6WSN-4NHMXD1-4&amp;_user=584359&amp;_rdoc=1&amp;_fmt=&amp;_orig=search&amp;_sort=d&amp;view=c&amp;_acct=C000029819&amp;_version=1&amp;_urlVersion=0&amp;_userid=584359&amp;md5=e0274be67fbafb4a89f1694873b547c7">Commentary in Cell: A New Partner for the International Knockout Mouse Consortium </a></li>
              </ul>
              <p><a name="komp-network"><br />
              <h3 style="margin-top:30px;">The KOMP Research Network </h3>
              <p></p></a></p>
              <p>The KOMP Research Network consists of:</p>
              <ul>
              <li><b>2 KOMP Production Centers</b> that generate knockout ES cells and, to a limited extent, knockout mice;
              <ul>
              <li><b>CSD</b>, a collaborative team at the Children's Hospital Oakland Research Institute <a href="http://www.chori.org" target="_blank">(CHORI)</a>, the <a href="http://www.sanger.ac.uk/" target="_blank">Wellcome Trust Sanger Institute</a> and the University of California at Davis <a href="http://www.vetmed.ucdavis.edu/" target="blank"> School of Veterinary Medicine </a>, led by Pieter deJong, Ph.D., CHORI, along with K. C. Kent Lloyd, D.V.M., Ph.D., UC Davis; and Allan Bradley, Ph.D. FRS, and William Skarnes, Ph.D., at the Wellcome Trust Sanger Institute;</li>
              <li>a team at the <a href="http://www.regeneron.com/velocigene.html" target="_blank">VelociGene</a> division of <b>Regeneron</b> Pharmaceuticals, Inc., led by David Valenzuela, Ph.D. and George D. Yancopoulos, M.D., Ph.D.</li>
              </ul>
              </li>
              <li>The <b>KOMP Data Coordination Center</b>, centered at The Jackson Laboratory, led by Martin Ringwald, Ph.D., along with Jim Kadin, Ph.D., Janan Eppig, Ph.D. and Carol Bult, Ph.D.;</li>
              <li>The <a href="http://www.komp.org/" target="_blank"><b>KOMP Repository</b></a>, a collaborative effort between the University of California at Davis School of Veterinary Medicine and at the Children's Hospital Oakland Research Institute (CHORI), led by K. C. Kent Lloyd, D.V.M., Ph.D., UC Davis and Pieter deJong, Ph.D., CHORI.;</li>
              <li><b>Research Groups</b> led by Klaus Kaestner, Ph.D,<br />
              <a href="http://www.upenn.edu/" target="_blank">University of Pennsylvania</a>, Andras Nagy, Ph.D., <a href="http://www.mshri.on.ca/" target="_blank">Samuel Lunenfeld Research Institute</a> of Mount Sinai Hospital,<br />
              and at Regeneron Pharmaceuticals, Inc. that develop methods to improve the efficiency of creating knockout C57BL/6 ES cell lines.</li>
              </ul>
              <p>The KOMP Research Network receives guidance from:</p>
              <ul class="normal">
              <li>The <a href="http://www.nih.gov/science/models/mouse/knockout/members.html" target="_blank"><b>NIH KOMP Working Group</b></a>, consisting of program staff from each of the NIH institutes supporting the KOMP initiative.</li>
              <li>The <b>Panel of Scientific Consultants</b> responsible for reviewing and evaluating the progress of the members of the KOMP Research Network</li>
              </ul>
              <p><a name="komp-roles"><br />
              <h3 style="margin-top:30px;">Roles and data flow within the KOMP production pipeline</h3>
              <p></p></a><br />
              <center><img src="/images/komp-roles.gif" alt="KOMP Roles" width="630" /></center><br /></p>
              <p>The <b>KOMP Data Coordination Center (KOMP DCC)</b> is the central database resource for coordinating mouse gene targeting within KOMP. Data and tools provided by the DCC are used by KOMP administrators at NIH to prioritize new mouse genes for knockout experiments and assign them to KOMP production centers. The DCC  tracks progress of the knockout production pipelines, collects, standardizes, and integrates KOMP data and makes the data available to all KOMP participants. The DCC also serves as the central public interface for the KOMP and provides web-based query and display tools for KOMP data. In addition, the website provides a tool for the scientific community to nominate genes of interest to be knocked-out by the KOMP.  Using complementary targeting strategies, the two <b>KOMP Production Centers CSD and Regeneron</b> design and create targeting vectors, mutant ES cell lines and, to some extent, mutant mice, embryos or sperm and transfer these materials to the KOMP Repository. The <b>KOMP Repository</b> archives, maintains, and distributes KOMP products. Researchers can order products and get product information from the Repository. Researchers can also express interest in products that are still in the pipeline. They will then receive email notification as soon as these KOMP products are available for distribution.</p>
            </div>
          </div>
        </div> <!-- /#center -->
        <div id="footer" class="clear">
          <a href="/disclaimer">Warranty Disclaimer and Copyright Notice</a><br />
          This site is maintained by the <a href="/about">I-DCC and the KOMP-DCC</a>.<br />Supported by the European Union (Project number: 223592) <br />and the National Institutes of Health (Grant number: NIH HG004074).
        </div> <!-- /#footer -->
    </div> <!-- /#container -->
    <span class="clear"></span>
  </div> <!-- /#wrapper -->
<!-- /layout -->

<script type="text/javascript">
    //
    if (navigator.userAgent.indexOf("Safari") > 0)
    {
        // Fix safari "label click/toggle checkbox" issue
        var labels = document.getElementsByTagName("label");
        for (i = 0; i < labels.length; i++)
        {
            labels[i].addEventListener("click", addLabelFocus, false);
        }

        // Fix Safari "back button re-execute onload" issue
        var jj=onload;
        if(jj){
            if(onunload==null){
                document.body.setAttribute('onunload',jj);
            }
        }
        $('search-link').style.marginRight="10px";
    }
    //
    </script>
<script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
            </script>
            <script type="text/javascript">
            var pageTracker = _gat._getTracker("UA-6140792-1");
            pageTracker._trackPageview();
            </script>


  </body>
</html>
