.bundle*
.DS_Store
.yardoc*
coverage.info
coverage/*
doc*
lib/martsearch/server/public/css/martsearch-*.css
lib/martsearch/server/public/js/martsearch-base-*.js
lib/martsearch/server/public/js/martsearch-head-*.js
pheno_heatmap.xls
public/css/martsearch-*
public/js/martsearch-base-*
public/js/martsearch-head-*
schema.xml
simplecov/*
test/vcr_cassettes*
tmp/*.json
tmp/index_builder*
tmp/ols_cache*
tmp/pids
tmp/sockets
tmp/pheno_overview.xls
tmp/pheno_abr/*