.bundle*
.DS_Store
.yardoc*
config/ols_database.yml
coverage.info
coverage/*
doc*
lib/martsearch/server/public/css/martsearch-*.css
lib/martsearch/server/public/js/martsearch-base-*.js
lib/martsearch/server/public/js/martsearch-head-*.js
simplecov/*
test/vcr_cassettes*
tmp/index_builder*
