
/*.europhenome custom css */

.europhenome table.europhenome-data td {
	background: #fff;
}

.csstransforms .europhenome table.europhenome-data th {
	vertical-align:	bottom;
	height: 188px;
	min-width: 16px;
	white-space: nowrap;
}

.csstransforms .europhenome table.europhenome-data .vertical_text {
	text-align: center;
	width: 16px;
	margin: 0 auto;
}

.no-csstransforms .europhenome table.europhenome-data th {
	vertical-align:	bottom;
	min-width: 16px;
}

.europhenome table.europhenome-data td.no-data {
	background-color: #f1f1f1;
}

.europhenome table.europhenome-data td.significant {
	background-color: #de2920;
}

.europhenome table.europhenome-data td.not-significant {
	background-color: #6998cb;
}

.europhenome table.europhenome-data td.pheno-result {
	text-align: center;
	vertical-align: middle;
}

/* Tooltips */

.europhenome-tooltip .ui-tooltip-wrapper {
  width: 400px !important;
}

.europhenome-tooltip .ui-tooltip-content table.pheno-result-details {
  font-size: 0.9em !important;
  width: 100%;
  margin: 0;
  padding: 0;
}

.europhenome-tooltip .ui-tooltip-content table.pheno-result-details th,
.europhenome-tooltip .ui-tooltip-content table.pheno-result-details td {
  padding: 3px;
  vertical-align: middle;
}

.europhenome-tooltip .ui-tooltip-content table.pheno-result-details td.male,
.europhenome-tooltip .ui-tooltip-content table.pheno-result-details td.female {
	text-indent: -9999px;
	width: 16px;
	background: url('../images/silk/male.png') no-repeat center center;
}

.europhenome-tooltip .ui-tooltip-content table.pheno-result-details td.female {
	background-image: url('../images/silk/female.png') !important;
}