<% result_data[:'ikmc-idcc_targ_rep'].each do |project| %>
  <% if project[:display] %>
    <div>
      <!-- Progress Bar -->
      <%=
        partial(
          'dataviews/ikmc-vectors-and-es-cells/progress_bar',
          :locals => { 
            :project      => project,
            :result_data  => result_data
          }
        )
      %>
    
      <%- if project[:targeting_vectors] or project[:conditional_clones] or project[:nonconditional_clones] -%>
      
        <div class="ikmc-idcc_targ_rep_allele_progress_details_content">
          <!-- Links -->
          <%
            ensembl_gene_id = project[:ensembl_gene_id]
            if ensembl_gene_id.nil? and result_data[:'mgi-markers'] != nil
              ensembl_gene_id = result_data[:'mgi-markers'][:ensembl_gene_ids].first()
            end
          %>

          <%=
            partial(
              'dataviews/ikmc-vectors-and-es-cells/links',
              :locals => {
                :pipeline        => project[:pipeline],
                :ikmc_project_id => project[:ikmc_project_id],
                :ensembl_gene_id => ensembl_gene_id,
                :chromosome      => result_data[:index][:chromosome],
                :start_pos       => result_data[:index][:coord_start],
                :end_pos         => result_data[:index][:coord_end]
              }
            )
          %>

          <!-- ES Cells -->
          <%=
            partial(
              'dataviews/ikmc-vectors-and-es-cells/escell_clones',
              :locals => {
                :pipeline                 => project[:pipeline],
                :design_type              => project[:design_type],
                :cassette_type            => project[:cassette_type],
                :conditional_clones       => project[:conditional_clones],
                :conditional_allele_id    => project[:conditional_allele_id],
                :conditional_allele_gb    => project[:conditional_allele_gb_file],
                :nonconditional_clones    => project[:nonconditional_clones],
                :nonconditional_allele_id => project[:nonconditional_allele_id],
                :nonconditional_allele_gb => project[:nonconditional_allele_gb_file],
                :vector_gb                => project[:vector_gb_file]
              }
            )
          %>
          <div class="clear"></div>

          <!-- Targeting Vectors -->
          <% if project[:targeting_vectors] %>
            <%=
              partial(
                'dataviews/ikmc-vectors-and-es-cells/targeting_vectors',
                :locals => {
                  :design_id         => project[:design_id],
                  :design_type       => project[:design_type],
                  :pipeline          => project[:pipeline],
                  :cassette          => project[:cassette],
                  :backbone          => project[:backbone],
                  :targeting_vectors => project[:targeting_vectors],
                  :vector_gb         => project[:vector_gb_file]
                }
              )
            %>
          <% end %>
        </div>

        <div class="clear"></div>

      <% end %>
    </div>
  <% end %>
<% end %>
