
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Recommendations to Users of EUCOMMTOOLS Alleles | International Knockout Mouse Consortium (IKMC)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="/misc/favicon.ico" type="image/x-icon" />
    <link type="text/css" rel="stylesheet" media="all" href="/sites/default/files/css/css_81b0f44fca24e723d49836eaa6cd58ff.css" />
<link type="text/css" rel="stylesheet" media="print" href="/sites/default/files/css/css_e69dd856dfae2a651ffc5c252c6bd0ff.css" />
    <script type="text/javascript" src="/sites/default/files/js/js_ea242cb25786147b418353190287ca7a.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, { "basePath": "http://www.knockoutmouse.org", "dhtmlMenu": { "clone": "clone", "slide": 0, "siblings": 0, "relativity": 0, "children": 0, "doubleclick": 0 } });
//--><!]]>
</script>
    <!--[if lte IE 7]><link type="text/css" rel="stylesheet" media="all" href="/sites/all/themes/ikmc/fix-ie.css" /><![endif]--><!--If Less Than or Equal (lte) to IE 7-->

<script>
function jscss(a,o,c1){switch(a){case'add':if(!jscss('check',o,c1)){o.className+=o.className?' '+c1:c1;}break;case'remove':var rep=o.className.match(' '+c1)?' '+c1:c1;o.className=o.className.replace(rep,'');break;case'check':return new RegExp('\\b'+c1+'\\b').test(o.className);break;}}function actsearch(){var stab=document.getElementById('stab');var sbody=document.getElementById('sbody');var btab=document.getElementById('btab');var bbody=document.getElementById('bbody');if(!jscss('check',stab,'active-tab')){jscss('remove',btab,'active-tab');jscss('add',stab,'active-tab');jscss('remove',sbody,'hide');jscss('add',bbody,'hide');}return false;}function actbrowse(){var stab=document.getElementById('stab');var sbody=document.getElementById('sbody');var btab=document.getElementById('btab');var bbody=document.getElementById('bbody');if(!jscss('check',btab,'active-tab')){jscss('remove',stab,'active-tab');jscss('add',btab,'active-tab');jscss('remove',bbody,'hide');jscss('add',sbody,'hide');}return false;}

function _ikmctoggle(obj, elName, showtext, hidetext) { if (showtext == null){ showtext = 'show'; } else { showtext = "<img src='/static/images/plus.png' alt='Plus sign'> " + showtext; } if (hidetext == null){ hidetext = 'hide'; } else { hidetext = "<img src='/static/images/minus.png' alt='Minus sign'> " + hidetext;  } var el = document.getElementById(elName); if (el.style.display == 'block'){ el.style.display='none'; obj.innerHTML = showtext; }else{ el.style.display='block'; obj.innerHTML = hidetext; } return false; }
</script>

<meta name="google-site-verification" content="XZZraOH6fjBquF37qY_fDUXLbmU8SBxQtgfmnoXUZMQ" />

</head>

<body class="sidebar-left">

<!-- Layout -->
  <div id="wrapper">
    <div id="header">
      <a href="http://www.knockoutmouse.org" title="International Knockout Mouse Consortium">
        <img src="/sites/all/themes/ikmc/logo.png" alt="International Knockout Mouse Consortium" id="logo" />
      </a>
      <h1 style="margin-top:47px;"><a href="http://www.knockoutmouse.org" title="International Knockout Mouse Consortium"><span id="sitename">International Knockout Mouse Consortium</span></a></h1>
      <div class="clear"></div>
    </div> <!-- /#header -->

    <div id="container">
      <div id="sidebar-left" class="sidebar">
        <div id="block-menu-menu-aboutmenu" class="block block-menu">
          <h3>About...</h3>
          <div class="content">
            <ul class="menu"><li class="expanded first dhtml-menu  odd"><a href="/aboutikmc" title="About the IKMC" id="dhtml_menu-287">IKMC</a><ul class="menu"><li class="leaf first dhtml-menu  odd"><a href="/about/targeting-strategies" title="Targeting strategies" id="dhtml_menu-340">Targeting strategies</a></li>
              <li class="leaf last dhtml-menu  even"><a href="/about/view-all-ikmc-allele-types" title="" id="dhtml_menu-339">IKMC alleles</a></li>
              </ul></li>
              <li class="leaf  dhtml-menu  even"><a href="/about/IKMC" title="" id="dhtml_menu-277">IMPC</a></li>
              <li class="expanded  dhtml-menu  even"><a href="/aboutkomp" title="About KOMP" id="dhtml_menu-231">KOMP</a><ul class="menu"><li class="leaf first dhtml-menu  odd"><a href="/aboutkompdcc" title="About KOMP DCC" id="dhtml_menu-232">KOMP DCC</a></li>
              <li class="leaf  dhtml-menu  even"><a href="http://komp.org/index.php?link=5" title="" id="dhtml_menu-233">KOMP Repository</a></li>
              <li class="leaf last dhtml-menu  odd"><a href="/aboutkompstrategies" title="KOMP Targeting Strategies" id="dhtml_menu-234">KOMP Targeting Strategies</a></li>
              </ul></li>
              <li class="expanded  dhtml-menu  odd"><a href="/about/eucomm" title="" id="dhtml_menu-372">EUCOMM</a><ul class="menu"><li class="leaf first dhtml-menu  odd"><a href="/about/eucomm/allele-types" title="EUCOMM Targeting Strategies" id="dhtml_menu-375">EUCOMM Targeting Strategies</a></li>
              <li class="leaf last dhtml-menu  even"><a href="/about/eucomm/recommendations-users-eucomm-alleles" title="Recommendations for Users of EUCOMM Alleles" id="dhtml_menu-376">Recommendations for Users</a></li>
              </ul></li>
              <li class="expanded  dhtml-menu  odd"><a href="/about/eucommtools" title="EUCOMMTOOLS" id="dhtml_menu-378">EUCOMMTOOLS</a><ul class="menu"><li class="leaf first dhtml-menu  even"><a href="/about/eucommtools/vectors" title="EUCOMMTOOLs Targeting Strategies" id="dhtml_menu-380">EUCOMMTOOLs Targeting Strategies</a></li>
              <li class="leaf  dhtml-menu  odd"><a href="/about/eucommtools/recommendations" title="Recommendations to Users of EUCOMMTOOLS Alleles" id="dhtml_menu-384">Recommendations to Users</a></li>
              </ul></li>
              <li class="leaf  dhtml-menu  even"><a href="http://www.norcomm.org" title="" id="dhtml_menu-268">NorCOMM</a></li>
              <li class="leaf last dhtml-menu  odd"><a href="http://www.tigm.org/" title="" id="dhtml_menu-269">TIGM</a></li>
            </ul>
          </div>
        </div>
      </div> <!-- /#sidebar-left -->

      <div id="center">
        <div class="breadcrumb"><a href="http://www.knockoutmouse.org">Home</a> » Recommendations to Users of EUCOMMTOOLS Alleles</div>
        <div id="node-122" class="node">
          <div class="content">
            <p><img src="/sites/default/files/images/eucommtools_header_FINAL.jpg" width="780px" height="115px" /></p>
            <p><B>Number of ES cell clones:</b>
            </p><p>EUCOMM has determined the germ line transmission (GLT) rate of the resource to be roughly 60&#37;. Therefore EuMMCR recommends users request 3 ES cell clones per gene to ensure GLT.  The smallest package EuMMCR offers for EUCOMM cells is 2 ES cell clones per gene.</p>
            <p><B>When only one ES cell clone exits:</b>
            </p><p>For some genes, EUCOMM was only able to generate one ES cell clone with conditional potential. When you order ES cell clones for one of these genes you will be notified by the HMGU legal department and the handling fee will be reduced to 800€.</p>
            <p><B>Quality assesment included in the price of any ES cell clone from EuMMCR:</b>
            </p><p>
            a) Every ES cell clone is tested for mycoplasma using the assay developed by Cord Uphoff (Uphoff CC, Drexler HG., In Vitro Cell Dev Biol Anim. 2002 Feb;38(2):79-85.). Any contaminated ES cell lines are removed from the resource. </p>
            <p>b) The identity of each clone is confirmed by PCR comprising a gene specific primer (unique to each allele) and a primer immediately downstream of the 3’ loxP site (loxR).  A band of the expected size indicates that the 3’ loxP site is present downstream of the &ldquo;critical exon &rdquo;.</p>
            <div align="center"><img src="/sites/default/files/opt1.png" /></div>
            <p><b>Quality control of ES cells by production sites prior to arrival at EuMMCR </b></p>
            <p>The production sites perform the following three PCR reactions to confirm targeting:</p>
            <p>1.) 5’ LRPCR confirms correct integration of the allele on the 5’ side (primers: blue arrows left and right of the 5’ homology arm)</p>
            <p>2.) TRPCR confirms presence of the 3’ loxP site (primers: orange arrows left and right of the targeted region [in this example exon 2])</p>
            <p>3.) 3’ LRPCR confirms correct integration of the allele on the 3’ side (primers: blue arrows left and right of the 3’ homology arm)</p>
            <div align="center"><img src="/sites/default/files/LRPCR2.png" /></div>
            <p>The six different QC statuses shown in the table below are assigned by the EUCOMM production labs and indicate that they may be distributed. </p>
            <p>&nbsp;</p>
            <table>
              <tr>
                <td>No</td>
                <td>Distribution status</td>
                <td>5'LRPCR</td>
                <td>TRPCR</td>
                <td>3'LRPCR</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Clone <u>with</u> conditional potential</td>
                <td>pass</td>
                <td>pass</td>
                <td>pass</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Clone <u>with</u> conditional potential</td>
                <td>not confirmed</td>
                <td>pass</td>
                <td>pass</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Clone <u>with</u> conditional potential</td>
                <td>pass</td>
                <td>pass</td>
                <td>not confirmed</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Clone <u>without</u> conditional potential</td>
                <td>pass</td>
                <td>fail</td>
                <td>pass</td>
              </tr>
              <tr>
                <td>5</td>
                <td>Clone <u>without</u> conditional potential</td>
                <td>not confirmed</td>
                <td>fail</td>
                <td>pass</td>
              </tr>
              <tr>
                <td>6</td>
                <td>Clone <u>without</u> conditional potential</td>
                <td>pass</td>
                <td>fail</td>
                <td>not confirmed</td>
              </tr>
            </table>
            <p>&nbsp;</p>
            <p>Users can find the QC status of their ES cell clones of interest at the IKMC web site as follows: </p>
            <ol>1. Go to <a href="http://www.knockoutmouse.org" target="_blank">www.knockoutmouse.org</a>,</ol>
            <ol>2. Enter your gene of interest into the search field, and click on &ldquo;search&rdquo;.</ol>
            <ol>3. In the result window click on &ldquo;Details&rdquo; in the Status field. </ol>
            <ol>4. On the resulting page open the project by clicking on &ldquo;Project number&rdquo; underneath &ldquo;EUCOMM&rdquo; on the left graphic. </ol>
            <ol>5. In the next window to open you’ll find a field listing either &ldquo;ES Cell Clones With Conditional Potential&rdquo; or &ldquo;ES Cell Clones Without Conditional Potential&rdquo;.</ol>
            <ol>6. Via the link &ldquo;show/hide more ES cells&rdquo; you find all ES cell clones for this gene</ol>
            <ol>7. Via the &ldquo;view&rdquo; link in the little table under &ldquo;QC Data&rdquo; (often off the screen at the far right) you will find all the QC data available for each ES cell clone.</ol>

            <p><B>Explanation of additional services</b><br />
            <B>
            <p><a id="development">Development of Genotyping Reaction for Chimeras, using a short PCR strategy</a></p>
            <p></p></b></p>
            <p>EuMMCR will develop a genotyping reaction using a short PCR strategy for users ordering their ES cell clones “with genotyping”. This service provides the user with an easy to use genotyping reaction for ES cells and chimeric mice.s</p>
            <p>EuMMCR’s favored strategy for developing this genotyping reaction is Option 2 in the figure below. A gene specific primer in the 5’ homology arm (gene-5’arm) is designed and used with the LAR3 primer in the targeting cassette to detect the mutated allele. Another gene specific primer is designed in the 3’ homology arm (gene-3’arm) in order to detect the wt allele with a PCR fragment between the two gene specific primers.</p>
            <p>EuMMCR also uses Option 1 in the figure below for genotyping. Two gene specific primers are designed upstream and downstream of the 3’loxP site (gene-for and gene-rev). During homologous recombination, the targeting cassette replaces endogenous DNA stretches. Option 1 genotyping only works well when the PCR fragment of the targeting cassette differs by ~50bp from the PCR fragment based on the wt allele. This size difference cannot be changed by design of alternative primers, it is a property of the mutated allele.</p>
            <p>Option 3.  The mutated allele can be also be distinguished from the wt allele by performing a PCR with the gene-for and gene-rev primer (from Option 1) and digesting the resulting PCR fragment with Sac1. The wt allele usually does not contain a Sac1 site, while there is a Sac1 site within the loxP sequence.</p>
            <div align="center"><img src="/sites/default/files/opt21.png" alt="opt21.png" /></div>
            <p>One of the three options (Option 2, Option1 or Option 3) digest will be performed and gel pictures and brief protocols will be delivered in a pdf document via email after the shipment of the cells.</p>
            <p><B>
            <p><a id="verified">5’ and 3’ LRPCR verified ES cell clones only (per clone)</a></p>
            <p></p></b></p>
            <p>When users order the ES cell clones with 5’ and 3’ LRPCR controls they will only receive clones which pass 5’ and 3’ LRPCR assays. EuMMCR will not rely on the assay performed by the EUCOMM production lab but will perform this assay independently using the ES cell preparation sent out to the user as a template.</p>
            <p>The EUCOMM quality control project has determined that only 82&#37; of clones marked &ldquo;EUCOMM  ES cell clones with conditional potential&rdquo; will pass a Southern blot assay independent of their PCR-based QC status. EuMMCR suspects that the remaining 18&#37; are either mixed clones or irregular recombination events. </p>
            <p>In case of &ldquo;EUCOMM ES cell clones with conditional potential&rdquo; with LRPCR’s verified on both the 5’ and the 3’ site the value for probability of passing a Southern blot a rises to 0.96.</p>
            <p><B>
            <p><a id="chromosome">Chromosome counting</a></p>
            <p></p></b></p>
            <p>The chromosome counting service is intended to make certain that users receive ES cell clones in which at least 50&#37; of cells have a normal chromosome count. </p>
            <p>On receiving an order requesting a chromosome count,  EuMMCR will count the chromosome number in 30 metaphase cells and users will only receive clones where more than 15 cells displayed a normal chromosome count.</p>
            <p> Where a clone fails this assay, EuMMCR will thaw &amp; expand further clones and repeat this assay whenever possible.</p>
            <p>&nbsp;</p>
          </div>
        </div>
      </div> <!-- /#center -->
      <div id="footer" class="clear">
        <a href="/disclaimer">Warranty Disclaimer and Copyright Notice</a><br />
        This site is maintained by the <a href="/about">I-DCC and the KOMP-DCC</a>.<br />Supported by the European Union (Project number: 223592) <br />and the National Institutes of Health (Grant number: NIH HG004074).
      </div> <!-- /#footer -->
    </div> <!-- /#container -->
    <span class="clear"></span>
  </div> <!-- /#wrapper -->
<!-- /layout -->

<script type="text/javascript">
    //
    if (navigator.userAgent.indexOf("Safari") > 0)
    {
        // Fix safari "label click/toggle checkbox" issue
        var labels = document.getElementsByTagName("label");
        for (i = 0; i < labels.length; i++)
        {
            labels[i].addEventListener("click", addLabelFocus, false);
        }

        // Fix Safari "back button re-execute onload" issue
        var jj=onload;
        if(jj){
            if(onunload==null){
                document.body.setAttribute('onunload',jj);
            }
        }
        $('search-link').style.marginRight="10px";
    }
    //
    </script>
<script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
            </script>
            <script type="text/javascript">
            var pageTracker = _gat._getTracker("UA-6140792-1");
            pageTracker._trackPageview();
            </script>


</body>
</html>
