
/* wtsi-phenotyping custom css */

.wtsi-phenotyping table td { background: #fff; }
.wtsi-phenotyping table td.test_pending {	background-color: #fff; }
.wtsi-phenotyping table td.completed_data_available {	background-color: #376598; }
.wtsi-phenotyping table td.significant_difference {	background-color: #de2920; }
.wtsi-phenotyping table td.no_significant_difference { background-color: #6998cb; }
.wtsi-phenotyping table td.not_applicable {	background-color: #ccc; }
.wtsi-phenotyping table td.early_indication_of_possible_phenotype {	background-color: #fcfe66; }
.wtsi-phenotyping table td.test_abandoned {	background-color: #fad77c; }
.wtsi-phenotyping table td.pheno_result {
	text-align: center;
	vertical-align: middle;
	padding: 0;
	width: 22px;
}

.wtsi-phenotyping table td.pheno_result a img {
	border: 1px solid #999;
	background-color: #fff;
	padding: 1px;
}

.wtsi-phenotyping table td.test_pending.pheno_result a img {
	border: none;
	background-color: transparent;
}

.wtsi-phenotyping_heatmap th {
	vertical-align:	bottom;
	height: 280px;
	min-width: 16px;
	white-space: nowrap;
}

.wtsi-phenotyping_heatmap .vertical_text {
	width: 16px;
}

.wtsi-phenotyping-heatmap-link {
	background-image: url(../images/silk/page_white_excel.png);
	padding-top: 5px;
	padding-bottom: 5px;
}

table.wtsi-phenotyping_heatmap_legend {
	border-collapse: separate;
	border-spacing: 1px;
}

/* Phenotyping details pages */

#wtsi-phenotyping-report #test-images {
  text-align: center;
}

#wtsi-phenotyping-report #test-images img {
	margin-bottom: 7px;
}

#wtsi-phenotyping-report .test-descriptor {  
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 15px;
	background-color: #f1f1f1;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
}

#wtsi-phenotyping-report .test-descriptor h4 {
  margin-bottom: 7px;
}

#wtsi-phenotyping-report .test-descriptor table td {
	background-color: #fff;
}

#wtsi-phenotyping-report .test-descriptor .help {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
}

#wtsi-phenotyping-report .test-descriptor .gchart {
	border: 1px solid #ccc;
	background-color: #fff;
	padding: 0 10px;
	margin-bottom: 10px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
}

/* ABR pages */

#results-summary,
#methods-summary,
#abr-thresholds-summary,
#abr-thresholds,
#abr-input-output-functions-summary {
	border-bottom: 2px solid #999;
	padding-top: 10px;
}

#abr-thresholds-summary div.pheno-content table.pheno-image-data tbody tr td,
#abr-thresholds div.pheno-content table tbody tr td {
	border: none;
}

#abr-thresholds div.pheno-content table tbody tr td table td {
	border: 1px solid #999;
}

/* Expression Pages */

table.expression_ticklist {
	margin: 0 auto;
}

table.expression_ticklist td {
	text-align: center;
}

table.expression_ticklist td.present {
	text-indent: -9999px;
	background: #fff url(../images/silk/tick.png) no-repeat center center;
}

table.expression_ticklist td.absent {
	text-indent: -9999px;
	background: #fff url(../images/silk/cross.png) no-repeat center center;
}

table.expression_ticklist td.no_data,
table.expression_ticklist td.ambiguous {
	color: #999;
	font-style: italic;
	text-transform: lowercase;
}

.wtsi-phenotyping-images {
	margin: 0 auto;
	text-align: center;
}

.wtsi-phenotyping-image-list li {
	list-style-type: none;
	margin: 5px;
	padding: 5px;
	display: -moz-inline-stack;
	display: inline-block;
	min-height: 190px;
	width: 190px;
	text-align: left;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	vertical-align: top;
	zoom: 1;
	*display: inline;
	_height: 190px;
}

.wtsi-phenotyping-image-list li img {
	padding: 2px;
	border: 1px solid #ccc;
	background-color: #fff;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	margin-top: 5px;
	width: 180px;
}

.wtsi-phenotyping-image-list li img:hover {
	background-color: #fcf9b2;
}

.wtsi-phenotyping-image-list .gender {
	width: 16px;
	height: 16px;
	float: right;
}

.wtsi-phenotyping-image-list .male {
	background-image: url(../images/silk/male.png);
}

.wtsi-phenotyping-image-list .female {
	background-image: url(../images/silk/female.png);
}
