<div class="dataset">
  <div class="dataset_content">
    <table>
      <thead>
        <th>Design</th>
        <th>Vector Type</th>
        <th>Intermediate Vector</th>
      </thead>
      <tbody>
        <% @data[:intermediate_vectors].each do |intvec| %>
          <tr>
            <td style="text-align: center;border: 1px solid #999 !important;"><a href="<%= htgt_design_url( intvec[:design_id] ) %>" target="_blank"><i class="fa fa-pencil-square-o fa-2x"></i></a></td>
            <td style="border: 1px solid #999 !important;"><%= intvec[:design_type] %></td>
            <td style="border: 1px solid #999 !important;"><%= intvec[:name] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="clear"></div>
  </div>
</div>
