<li>
  <%= dataset_error[:text] %>&nbsp;&nbsp;
  <a href="#" class="single_parent_toggler_toggle">more&nbsp;information</a>
  <div class="single_parent_toggler_content error_more_information">
    <strong><%= dataset_error[:type] %></strong><br/>
    <% if dataset_error[:required] %>
      This is an <strong>important</strong> dataset for this view.  The data in this
      view may not be complete without this information.<br/>
      Please try resubmitting your search to include this dataset.
    <% else %>
      This is a <strong>optional</strong> dataset for this view.  The data shown below 
      will not include data from this dataset.  
      Please resubmit your search if you would like to include data from this source.<br />
    <% end %>
    <pre>
      <%= dataset_error[:error] %>
    </pre>
  </div>
</li>