
<p>This is fake / misleading data - pay no attention for now</p>
<table border="1">
<thead>
    <tr>
        <td>Product</td>
        <td>Pipeline</td>
        <td>Allele Type</td>
        <td>Allele Strain</td>
        <td>Allele</td>
        <td>Allele Map</td>
        <td>Allele Sequence</td>
        <td>Order</td>
    </tr>
</thead>
<tbody>
<% @alleles.each do |allele| %>
<tr>
    <td><%= allele[:product] %></td>
    <td>b</td>
    <td>c</td>
    <td>d</td>
    <td>e</td>
    <td>e</td>
    <td>ORDER</td>
</tr>
<% end %>
</tbody>
</table>