<h1> The web services of the <b>International Knockout Mouse</b> (IKMC) have been transferred to the <a href= "https://www.mousephenotype.org/background"><b>International Mouse Phenotyping Consortium</b> (IMPC)</a>.</h1>
<p><a class="btn" href="https://www.mousephenotype.org"><i class="fa fa-caret-right"></i>www.mousephenotype.org</a></p>
<p>&nbsp</p>

<% if !@foward_to.blank? %>
 <div class="intro"><p>From your search we believe you want to <a href= "<%= @foward_to['http'] %>"> <%= @foward_to['description'] %></a>.</p></div>
<% end %></br>

<div class="node">
<h3> You can continue on to:</h3>
<ul>
  <li>The <a href="https://www.mousephenotype.org/" target="_blank">IMPC home page</a></li>
  <li>Browse and search <a href="https://www.mousephenotype.org/mi/impc/phenotype-archive/search" target="_blank">IMPC gene list</a></li>
  <% if params.has_key?(:criteria) %>
    <li>View IMPC gene information for <a href="https://www.mousephenotype.org/mi/impc/phenotype-archive/search#q=<%= params[:criteria]%>" target="_blank"><%= params[:criteria]%></a></li>
  <% end %>
  <li>View <a href="https://www.mousephenotype.org/martsearch_ikmc_project/about" target="_blank">project information about the IKMC</a>, its targeting strategies and the contributing members</li>
  <li>View the <a href="http://www.i-dcc.org/kb/" target="_blank">IKMC FAQ website</a></li>
</ul>
<h3>Other useful links:</h3>
<ul>
  <li class="listheading">IKMC Genes and Products</li>
   <li><a href="http://www.knockoutmouse.org/biomart/martview?VIRTUALSCHEMANAME=default&amp;ATTRIBUTES=genes_targ_rep.default.attributes.pipeline|genes_targ_rep.default.attributes.ikmc_project_id|genes_targ_rep.default.attributes.mgi_accession_id|genes_targ_rep.default.attributes.targeting_vector|genes_targ_rep.default.attributes.escell_clone&amp;FILTERS=&amp;VISIBLEPANEL=mainpanel">IKMC Targeted Products</a></li>
   <li><a href="http://www.knockoutmouse.org/biomart/martview?VIRTUALSCHEMANAME=default&amp;ATTRIBUTES=imits2.default.attributes.marker_symbol|imits2.default.attributes.mgi_accession_id|imits2.default.attributes.escell_clone|imits2.default.attributes.allele_symbol_superscript|imits2.default.attributes.production_centre|imits2.default.attributes.microinjection_status&amp;FILTERS=&amp;VISIBLEPANEL=mainpanel">IKMC Mouse Production (iMits)</a></li>
</ul>
</div>
<div class="clear"></div>